<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o11eh.servicedemo.admin.mapper.PermissionMapper">
    <insert id="insertPermission">
        insert into back_role_permission(role_id, permission_id) value (#{roleId},#{pId});
    </insert>
    <delete id="deletePermission">
        delete
        from back_role_permission
        where role_id = #{roleId}
    </delete>

    <resultMap id="permission" type="com.o11eh.servicedemo.admin.entry.Permission">
        <result property="routerInfo" column="router_info"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>
    <select id="selectPermissionByRoleId" resultMap="permission">
        select p.*
        from back_permission p
                 join back_role_permission rp on p.id = rp.permission_id
        where role_id = #{roleId}
    </select>

    <select id="selectPermissionByUserId" resultMap="permission">
        select p.*
        from back_permission p
                 join back_role_permission rp on p.id = rp.permission_id
                 join back_admin a on rp.role_id = a.role_id
        where a.id = {userId}
    </select>
</mapper>
