<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o11eh.servicedemo.admin.mapper.PermissionMapper">
    <insert id="grantPermission">
        insert into back_role_permission(role_id, permission_id) value (#{roleId}, #{permissionId});
    </insert>
    <delete id="deletePermissionGranted">
        delete
        from back_role_permission
        where role_id = #{roleId}
    </delete>

    <resultMap id="permission" type="com.o11eh.servicedemo.admin.entity.Permission">
        <result property="routerInfo" column="router_info"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>
    <select id="selectPermissionGranted" resultMap="permission">
        select p.*
        from back_permission p
             join back_role_permission rp on p.id = rp.permission_id
        where role_id = #{roleId}
    </select>

    <select id="selectPermissionByRoleId" resultMap="permission">
        select p.*
        from back_role r
             left join back_role_permission rp on r.id = rp.role_id
             left join back_permission p on rp.permission_id = p.id
        where r.id = #{roleid}
          and r.status = 1
          and p.status = 1
    </select>
</mapper>
